<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    {{message}}
    <script>
      document.addEventListener('DOMContentLoaded', () => { if
      (!localStorage.getItem('accesstoken')) { window.location.href = '/login';
      } });
    </script>
  </body>
</html>