{{#> layout title="Add Course"}}

<div class="flex">
    {{> sidebar}}
    <div class="flex-1 p-6 bg-gray-100 overflow-auto">
        <div class="form-wrapper bg-white rounded-lg p-8 shadow-lg">
            <div class="form-header text-center mb-6">
                <h1 class="text-2xl font-bold text-[#0e88bc]">Create New Course</h1>
            </div>
            <form id="create-course-form" method="POST" class="space-y-4">
                <div class="form-row flex flex-col md:flex-row gap-4">
                    <div class="form-group w-full md:w-1/2">
                        <label for="title" class="block text-gray-700 font-bold mb-2">Title</label>
                        <input type="text" id="title" name="name" placeholder="Enter course title"
                            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"
                            required>
                    </div>
                </div>
                <div class="form-row flex flex-col md:flex-row gap-4">
                    <div class="form-group w-full md:w-1/2">
                        <label for="language" class="block text-gray-700 font-bold mb-2">Language</label>
                        <select id="language" name="language"
                            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"
                            required>
                                    {{#each languages }}
                                       <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row flex flex-col md:flex-row gap-4">
                    <div class="form-group w-full md:w-1/2">
                        <label for="language" class="block text-gray-700 font-bold mb-2">Language</label>
                            {{#each types }}
                                <label for="">{{key}}</label>
                                <input type="radio" value="{{value}}" id="" name="type">
                            {{/each}}
                    </div>
                </div>
<!--                Thumbnail nanti dulu -->
<!--                <div class="form-row">-->
<!--                    <div class="form-group">-->
<!--                        <label for="thumbnail" class="block text-gray-700 font-bold mb-2">Thumbnail</label>-->
<!--                        <input type="file" id="thumbnail" name="thumbnail"-->
<!--                            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"-->
<!--                            required>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-row">
                    <button type="submit"
                        class="submit-btn w-full py-3 bg-[#0e88bc] hover:bg-blue-500 rounded text-white">Add
                        Course</button>
                </div>
            </form>
            <div class="mt-4">
                <a href="/courses">
                    <button type="button"
                        class="back-btn w-full py-3 bg-transparent hover:bg-[#0e88bc] hover:text-white rounded text-[#0e88bc] flex items-center justify-center gap-2">
                        <i class="fas fa-arrow-left"></i> Back
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
    <script>
        document.getElementById('create-course-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());


console.log(data);
            try {
                const response = await fetchAPI('/api/courses', 'POST', data);
                showToaster('success', { message: 'Course created successfully.', timeout: 5000 });
                // Redirect or show success message
                window.location.href = '/';
            } catch (error) {
                showToaster('danger', { message: error, timeout: 5000 });
                console.error('Error creating course:', JSON.stringify(error));
                console.log({error})
                // Show error message
            }
        });
    </script>
{{/layout}}
