<div class='flex h-screen'>
  <div class='bg-blue-500 p-4 text-white'>
    <div class='flex flex-col items-center'>
      <div class='text-2xl font-bold'>Welcome, Admin</div>
      <div class='mt-4'>
        <button
          class='bg-gray-200 text-gray-700 px-4 py-2 rounded'
        >Users</button>
      </div>
      <div class='mt-4'>
        <button
          class='bg-gray-200 text-gray-700 px-4 py-2 rounded'
        >Languages</button>
      </div>
      <div class='mt-4'>
        <button
          class='bg-gray-200 text-gray-700 px-4 py-2 rounded'
        >Courses</button>
      </div>
      <div class='mt-4'>
        <button
          class='bg-gray-200 text-gray-700 px-4 py-2 rounded'
        >Questions</button>
      </div>
      <div class='mt-8'>
        <button class='bg-gray-200 text-gray-700 px-4 py-2 rounded'>Log out</button>
      </div>
    </div>
  </div>
  <div class='flex-1 bg-gray-200 p-8'>
    <div class='bg-white rounded-lg shadow p-4'>
      <div class='text-lg font-bold'>Most Used Languages</div>
      <div class='mt-4'>
        <div class='flex items-center'>
          <div class='w-3/4'>
            <div class='h-6 bg-blue-500' style='width: 73%;'></div>
          </div>
          <div class='ml-4 text-gray-600'>Chinese</div>
        </div>
        <div class='flex items-center mt-2'>
          <div class='w-3/4'>
            <div class='h-6 bg-blue-400'></div>
          </div>
          <div class='ml-4 text-gray-600'>Japanese</div>
        </div>
        <div class='flex items-center mt-2'>
          <div class='w-3/4'>
            <div class='h-6 bg-blue-300'></div>
          </div>
          <div class='ml-4 text-gray-600'>German</div>
        </div>
      </div>
    </div>
    <div class='bg-white rounded-lg shadow p-4 mt-8'>
      <div class='text-lg font-bold'>Average Subcription Payment</div>
      <div class='mt-4'>
        <div class='flex flex-col items-center'>
          <div class='w-full'>
            <div class='flex justify-between'>
              <div class='text-gray-600'>Jan</div>
              <div class='text-gray-600'>Feb</div>
              <div class='text-gray-600'>Mar</div>
              <div class='text-gray-600'>Apr</div>
              <div class='text-gray-600'>May</div>
              <div class='text-gray-600'>Jun</div>
              <div class='text-gray-600'>Jul</div>
              <div class='text-gray-600'>Aug</div>
              <div class='text-gray-600'>Sep</div>
              <div class='text-gray-600'>Oct</div>
              <div class='text-gray-600'>Nov</div>
              <div class='text-gray-600'>Dec</div>
            </div>
            <div class='flex justify-between mt-2'>
              <div class='h-4 bg-blue-500' style='width: 20%;'></div>
              <div class='h-4 bg-blue-500' style='width: 25%;'></div>
              <div class='h-4 bg-blue-500' style='width: 22%;'></div>
              <div class='h-4 bg-blue-500' style='width: 18%;'></div>
              <div class='h-4 bg-blue-500' style='width: 15%;'></div>
              <div class='h-4 bg-blue-500' style='width: 14%;'></div>
              <div class='h-4 bg-blue-500' style='width: 18%;'></div>
              <div class='h-4 bg-blue-500' style='width: 19%;'></div>
              <div class='h-4 bg-blue-500' style='width: 22%;'></div>
              <div class='h-4 bg-blue-500' style='width: 24%;'></div>
              <div class='h-4 bg-blue-500' style='width: 25%;'></div>
              <div class='h-4 bg-blue-500' style='width: 28%;'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>