<div class="w-64 bg-[#0e88bc] p-6 text-white rounded-lg flex flex-col h-[calc(100vh-1rem)]">
    <div class="flex justify-center mb-6">
        <div class="w-32 h-32 bg-[#21a9c4] rounded-full flex items-center justify-center">
            <img src="/public/images/dolphine.png" alt="Dolphin Logo" class="w-20 h-20 object-contain">
        </div>
    </div>
    <h3 class="text-center mb-6 text-xl font-bold">Welcome, Admin</h3>
    <div class="flex-grow flex flex-col gap-4">
        <a href="homepage">
            <button
                class="w-full py-3 bg-[#21a9c4] hover:bg-blue-500 rounded text-white flex items-center justify-center gap-2">
                <i class="fa-solid fa-gauge"></i> Dashboard
            </button>
        </a>
        <a href="users">
            <button
                class="w-full py-3 bg-[#21a9c4] hover:bg-blue-500 rounded text-white flex items-center justify-center gap-2">
                <i class="fas fa-users"></i> Users
            </button>
        </a>
        <a href="languages">
            <button
                class="w-full py-3 bg-[#21a9c4] hover:bg-blue-500 rounded text-white flex items-center justify-center gap-2">
                <i class="fas fa-globe"></i> Languages
            </button>
        </a>
        <a href="coursePage">
            <button
                class="w-full py-3 bg-[#21a9c4] hover:bg-blue-500 rounded text-white flex items-center justify-center gap-2">
                <i class="fas fa-book"></i> Courses
            </button>
        </a>
        <button
            class="w-full py-3 bg-[#21a9c4] hover:bg-blue-500 rounded text-white flex items-center justify-center gap-2">
            <i class="fas fa-question"></i> Questions
        </button>
    </div>

    <a href="./login" class="mt-auto w-full">
        <button class="w-full py-3 bg-[#d28b87] hover:bg-red-500 rounded text-white">
            Log out
        </button>
    </a>
</div>